<!--
########################################################################################################################
# Title..............: Capstone Final Project - Ocular Recognition
# Author.............: Ben Stearns
# Date...............: 10-30-2025
# Purpose............: The purpose of this program is to:
#                       - Scan an image of a card
#                       - Extracts the text using OCR
# File Description...: defines the home page interface of the application
#######################################################################################################################
-->

{% extends "base.html" %}

{% block body %}
<div class="row w-50 mx-auto">
    <div class="col">
        This is the Yugioh Card Library System
        </p>
        <table class="table table-bordered table-hover table-striped-columns">
            <thead>
            <tr>
                <td class="fs-3">Main Menu</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>View Library</td>
            </tr>
            <tr>
                <td>Upload Photos</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<p>

{% endblock %}