<!--
########################################################################################################################
# Title..............: Capstone Final Project - Ocular Recognition
# Author.............: Ben Stearns
# Date...............: 10-30-2025
# Purpose............: The purpose of this program is to:
#                       - Scan an image of a card
#                       - Extracts the text using OCR
# File Description...: defines the home page interface of the application
#######################################################################################################################
-->

{% extends "base.html" %}

{% block body %}
<h2 class="text-center mb-4 display-6 fw-bold text-primary">Main Menu</h2>

<div class="row g-4 justify-content-center">

    <!-- Card 1 -->
    <div class="col-md-4">
        <a href="/library" class="text-decoration-none">
        <div class="menu-card card shadow-lg border-0 text-center p-4">
            <div class="card-body">
                <h3 class="card-title text-dark fw-bold mb-3">📚View Library</h3>
            </div>
        </div>
        </a>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
        <div class="menu-card card shadow-lg border-0 text-center p-4">
            <div class="card-body">
                <h3 class="card-title text-dark fw-bold mb-3">📷 Upload Photos</h3>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
        <div class="menu-card card shadow-lg border-0 text-center p-4">
            <div class="card-body">
                <h3 class="card-title text-dark fw-bold mb-3">➕Add Card </h3>
            </div>
        </div>
    </div>

</div>

{% endblock %}