<!--
########################################################################################################################
# Title..............: Capstone Final Project - Ocular Recognition
# Author.............: Ben Stearns
# Date...............: 10-30-2025
# Purpose............: The purpose of this program is to:
#                       - Scan an image of a card
#                       - Extracts the text using OCR
# File Description...: defines the interface for viewing the app's saved card library
#######################################################################################################################
-->
{% extends "base.html" %}

{% block body %}
    <figure class="col">
        <table class="row table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Card Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                    <tr>
                        <td>Card Image</td>
                        <td>{{ card.name }}</td>
                        <td>{{ card.description }}</td>
                        <td><a href="#" class="btn btn-info">View</a></td>
                        <td><a href="{{ url_for('edit_card', card_id=card.id) }}" class="btn btn-primary">Edit</a></td>
                        <td><a href="{{ url_for('confirm_delete', card_id=card.id) }}" class="btn btn-danger">
                            Delete
                        </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </figure>
    <div class="row btn btn-primary">
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Main Menu</a>
    </div>
{% endblock %}