{% extends "base.html" %}

{% block body %}
<div class="col">
    {% if card.image_filename %}
    <div class="row mb-3 text-center">
        <img src="/static/images/cards/{{ card.image_filename }}"
             class="img-thumbnail mb-3 mx-auto d-block"
             style="max-width:200px;">
    </div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>{{ card.name }}</tr>
        </thead>
        <tbody>
            <tr>
                <td>Card Type</td>
                <td>{{ card.card_type }}</td>
            </tr>
            {% if card.monster_type != '-' %}
            <tr>
                <td>Monster Type</td>
                <td>{{ card.monster_type }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Description</td>
                <td>{{ card.description }}</td>
            </tr>
            {% if card.card_type == "Monster" %}
            <tr>
                <td>Attack</td>
                <td>{{ card.attack }}</td>
            </tr>
            <tr>
                <td>Defense</td>
                <td>{{ card.defense }}</td>
            </tr>
            <tr>
                <td>Attribute</td>
                <td>{{ card.attribute }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="row justify-content-center" style="max-width: 200px;">
        <a href="/library" class="btn btn-primary">Back</a>
    </div>
</div>
{% endblock %}